h1 {
    margin-left: 20px; /* Adjust the value as needed */
    margin-top: 20px;
}

.table-container {
    margin: 20px; /* Adjust the value as needed */
}

.btn-add {
    margin-left: 20px;
    color: #df76ab;
    border-color: #df76ab; /* Pink color */
}

.btn-edit {
    color: #dac170;
    border-color: #dac170; /* Pink color */
}
.btn-delete {
    color: #7b70da;
    border-color: #7b70da; /* Pink color */

body {
    background-image: url("https://nathaka82.github.io/Prog-Black-Formative-Groupwork/images/chevron.png");
    margin: 25px 50px;
}
.stylehead {
    background-image: url("https://nathaka82.github.io/Prog-Black-Formative-Groupwork/images/folk-pattern.png");
}
.content {
    background-image: url("https://nathaka82.github.io/Prog-Black-Formative-Groupwork/images/footer_lodyas.png");
    color: #C0C0C0;
}
.header {
    margin: 25px 100px
}
.indent {
    margin: 25px 50px
}
p {
    margin: 0px 25px
}