
h1 {
    margin-left: 20px; /* Adjust the value as needed */
    margin-top: 20px;
}

.table-container {
    margin: 20px; /* Adjust the value as needed */
}

.btn-add {
    margin-left: 20px;
    color: #df76ab;
    border-color: #df76ab; /* Pink color */
}

.btn-edit {
    color: #dac170;
    border-color: #dac170; /* Pink color */
}
.btn-delete {
    color: #7b70da;
    border-color: #7b70da; /* Pink color */
}